$bg: #1c1c1c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $bg;
  color: white;
  font-family: "PT Serif", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;

  @media (max-width: 1023px) {
    padding: 3rem;
  }

  @media (max-width: 767px) {
    padding: 1.5rem;
  }
}

.links {
  $link-gap: 1.75rem;
  display: flex;
  gap: $link-gap;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;

  a {
    $link-font-size: 1.2rem;
    position: relative;
    text-decoration: underline;
    color: orange;
    font-size: 1.2rem;

    & + a::before {
      $bar-width: 2px;
      position: absolute;
      width: $bar-width;
      height: calc($link-font-size + 0.2rem);
      top: 2px;
      left: calc($link-gap / -2 - $bar-width / 2);
      content: "";
      display: block;
      background: orange;
      pointer-events: none;
    }
  }

}

.bio {
  $border-width: 4px;
  $border-style: solid orange;
  $bio-padding: 1rem;
  background: $bg;
  max-width: 768px;
  padding: $bio-padding;
  position: relative;

  .corner {
    $side: 45%;
    background: orange;
    position: absolute;
    width: $side;
    height: $side;
    z-index: -1;


    &.lc {
      left: calc($bio-padding / -2);
      top: calc($bio-padding / -2);
    }

    &.rc {
      right: calc($bio-padding / -2);
      bottom: calc($bio-padding / -2);
    }

  }

  h1 {
    text-decoration-color: orange;
    font-size: 2.5rem;
    font-family: "Roboto Slab", sans-serif;
    transform: translateX(-0.3rem);
  }

  p {
    font-size: 1.2rem;

    & + p {
      margin-top: 1rem;
    }
  }

  p:last-of-type {
    margin-bottom: 0.5rem;
  }
}
